$border-style: 0.1em solid grey;

/** Responsive Start**/

.menu {
  display: none
}

@media screen and (max-width: 729px) {

  .header {
    margin-left: 0.1em;
    margin-right: 0.1em;
  }

  .menu {
    display: inline-block;
    right: 0;
    padding: 1em;
  }
  
  .menu svg {
    width: 32px;
    fill: #0ABAB5;;
  }

  .nav {
    display: none;
    z-index: 10;
    background-color: #E0E0E0;
    width: 9em;
    position: absolute;
    margin-top: 4.4em;

    ul {
      flex-direction: column;
      padding-left: 1em;
    }
    li {
      padding-left: 0;
    }
  }

  .nav.open {
    display: inline-block
  }

  hr {
    margin: 0;
  }

  .dashboard {
    width: 100%;
    margin: 1em auto;
    border-top: $border-style;
    border-bottom: $border-style;
  }

  .new-question {
    width: 100%;
    border-top: $border-style;
    border-bottom: $border-style;
  }

  .leader-board {
    width: 100%;
    margin: 1em auto;
  }

  .total-score{
    margin: 0.5em 0.5em;
  }
}

@media screen and (min-width: 730px) {
  
  .header {
    margin-left: 4em;
    margin-right: 4em;
  }

  hr {
    margin: 0 1em;
  }

  .dashboard {
    width: 50%;
    margin: 1em auto;
    border: $border-style;
  }

  .new-question {
    width: 50%;
    border: $border-style;
  }

  .leader-board {
    width: 50%;
    margin: 1em auto;
    border: 0.1em solid grey;
  }

  .total-score{
    margin: 0.5em 2em;
  }

  .card-avatar {
    img {
      padding: 0 1em;
    }
  }
}

/** Responsive End**/

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 0.5em;
  text-decoration: none;
}

hr {
  border: 0.1em solid #0ABAB5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.login-container {
  width: 30%;
  height: 50%;
  margin: 10% auto;
  border: $border-style;
  padding: 0.5em;
  text-align: center;
}

.logo {
  width: 30%;
}

.login-user-list {
  width: 100%;
  height: 2em;
  margin: 0.5em 0;
}

.login-signIn-button {
  width: 100%;
  height: 2em;
}

.header {
  display: flex;
}

.nav-active {
  font-weight: bold;
}

.nav {
  ul {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
  }
  li {
    display: inline-block;
  }
  li:first-child {
    padding-left: 0;
  }
}

.nav-link {
  text-decoration: none;
  color: gray;
}

.nav-link:hover {
  color:blue;
}

.user-info {
  display: flex;
  margin-left: auto;

  p {
    margin: auto;
  }

  img {
    width: 4em;
    height: 4em;
  }

  button {
    margin: 1.5em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: black;
    color: white;
  }
}

.logout-icon {
  vertical-align: middle;
  margin: 0.3em;
}

.dashboard-header {
  display: flex;
  border-bottom: $border-style;
  font-weight: bold;

  div {
    flex: 1;
  }

  p {
    text-align: center;
    cursor: pointer
  }

  p:hover{
    color: blue
  }
}

.dashboard-header-right {
  border-left: $border-style;
}

.dashboard-header-selected {
  background-color: lightgrey;
}

.question-card {
  display: flex;
  flex-direction: column;
  margin: 1em;
  border: $border-style;
}

.question-card-for-asking {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 5em auto;
  border: $border-style;
}

.question-card-header {
  border-bottom: $border-style;
  background-color: powderblue;
  p {
    margin: 0.5em;
    font-weight: bold;
  }
}

.card-content{
  width: 100%;
  margin: 0.5em 0;
  border-left: $border-style;
  padding: 0 0.5em;

  p {
    margin: 0;
    font-size: 1.5em;
  }
}

.card-avatar {
  img {
    width: 6em;
    height: 6em;
  }
}

.question-card-body {
  display: flex;
}

.question-summary {
  p {
    font-size: 1em;
    margin: 0.5em 0em;
  }

  button {
    width: 100%;
    background: white;
    border: 0.1em solid #0ABAB5;
    color: #0ABAB5;
    padding: 0.2em;
    cursor: pointer;
  }
}

.question-options {
  display: flex;
  flex-direction: column;
  margin-top: 1em;

  label {
    margin-bottom: 0.5em;
  }

  button {
    width: 100%;
    background: white;
    border: 0.1em solid #0ABAB5;
    color: #0ABAB5;
    padding: 0.2em;
    cursor: pointer;
  }
}

.question-result {
  margin: 0.5em 0;
}

.question-option-result {
  border: $border-style;
  margin-top: 0.5em;
  padding: 0.5em;

  p {
    text-align: center;
  }
}

.vote-bar {
  display: inline-block;
  background-color: red;
  width: 100%;
  height: 1em;
  margin: 0.5em 0;
  border-bottom: 0.1em solid red;
  span {
    display: inline-block;
    background-color: blue;
    height: 1em;
    border-top: 0.1em solid blue;
  }
}

.new-question {
  display: flex;
  flex-direction: column;
  margin: 5em auto;
}

.new-question-header {
  border-bottom: 0.1em solid #0ABAB5;

  p {
    text-align: center;
  }
}

.new-question-body {
  display: flex;
  flex-direction: column;
  margin: 0.5em;

  p {
    margin-top: 0;
  }

  hr {
    height: 0.1em;
    width: 100%;
    margin: 0;
    border: none;
    border-top: 0.1em solid grey;
    text-align: center;
    overflow: visible;
  }

  hr:after {
    position: relative;
    padding: 0 1em;
    top: -0.8em;
    content: 'OR';
    background-color: white;
  }

  input {
    height: 1.5em;
    margin: 1em 0;
  }

  button {
    width: 100%;
    background: white;
    border: 0.1em solid #0ABAB5;
    color: #0ABAB5;
    padding: 0.2em;
    cursor: pointer;
  }
}

.leader-board {
  margin: 1em auto;
  padding: 1em 1em 0 1em;
}

.score-card {
  display: flex;
  margin-bottom: 1em;
  border: $border-style;
}

.medal-icon {
  width: 1em;
  height: 1em;
  margin-top: 0.3em;
  margin-left: 0.3em;
}

.goldMedalColor {
  color: #D6AF36;
}

.silverMedalColor{
  color: #A7A7AD;
}

.bronzeMedalColor{
  color: #A77044;
}

.score-detail {
  flex: 1;
  margin: 0.5em 0;
  border-left: $border-style;
  border-right: $border-style;
  padding: 0 1.5em;

  span {
    margin: 0.5em 0;
  }

  em {
    font-weight: bold;
    color: blue;
  }

  hr {
    margin: 0;
  }
}

.total-score{
  border: $border-style;
}

.total-score-title {
  border-bottom: $border-style;

  span {
    margin: 0.5em 1.5em;
  }
}

.total-score-point {
  font-size: 1.5em;
  text-align: center;
  color: blue;
  font-weight: bold;

  p {
    margin: 1em;
  }
}

.no-match {
  margin: 10em;

  p {
    text-align: center;
  }
}