$border-style: 0.1em solid grey;

/** Responsive Start**/

.menu {
  display: none;
}

@media screen and (max-width: 729px) {
  .header {
    margin-left: 0.1em;
    margin-right: 0.1em;
  }

  .menu {
    display: inline-block;
    right: 0;
    padding: 1em;
  }

  .menu svg {
    width: 32px;
    fill: #0abab5;
  }

  hr {
    margin: 0;
  }

  .question-card-for-asking {
    width: 100%;
    border-top: $border-style;
    border-bottom: $border-style;
  }

  .total-score {
    margin: 0.5em 0.5em;
  }

  .total-score-title span {
    margin: 0.5em 0.5em;
  }
}

@media screen and (min-width: 730px) {
  .header {
    margin-left: 4em;
    margin-right: 4em;
  }

  hr {
    margin: 0 1em;
  }

  .question-card-for-asking {
    width: 50%;
    border: $border-style;
  }

  .total-score {
    margin: 0.5em 2em;
  }

  .card-avatar {
    img {
      padding: 0 1em;
    }
  }
  .total-score-title span {
    margin: 0.5em 1.5em;
  }
}

/** Responsive End**/

.logo {
  width: 30%;
}

.header {
  display: flex;
}

.question-card {
  display: flex;
  flex-direction: column;
  margin: 1em;
  border: $border-style;
}

.question-card-for-asking {
  display: flex;
  flex-direction: column;
  margin: 5em auto;
}

.card-avatar {
  img {
    width: 6em;
    height: 6em;
  }
}
.question-summary {
  p {
    font-size: 1em;
    margin: 0.5em 0em;
  }

  button {
    width: 100%;
    background: white;
    border: 0.1em solid #0abab5;
    color: #0abab5;
    padding: 0.2em;
    cursor: pointer;
  }
}

.question-options {
  display: flex;
  flex-direction: column;
  margin-top: 1em;

  label {
    margin-bottom: 0.5em;
  }

  button {
    width: 100%;
    background: white;
    border: 0.1em solid #0abab5;
    color: #0abab5;
    padding: 0.2em;
    cursor: pointer;
  }
}

.question-result {
  margin: 0.5em 0;
}

.question-option-result {
  border: $border-style;
  margin-top: 0.5em;
  padding: 0.5em;

  p {
    text-align: center;
  }
}

.vote-bar {
  display: inline-block;
  background-color: red;
  width: 100%;
  height: 1em;
  margin: 0.5em 0;
  border-bottom: 0.1em solid red;
  span {
    display: inline-block;
    background-color: blue;
    height: 1em;
    border-top: 0.1em solid blue;
  }
}

.score-card {
  display: flex;
  margin-bottom: 1em;
  border: $border-style;
}

.medal-icon {
  width: 1em;
  height: 1em;
  margin-top: 0.3em;
  margin-left: 0.3em;
}

.goldMedalColor {
  color: #d6af36;
}

.silverMedalColor {
  color: #a7a7ad;
}

.bronzeMedalColor {
  color: #a77044;
}

.score-detail {
  flex: 1;
  margin: 0.5em 0;
  border-left: $border-style;
  border-right: $border-style;
  padding: 0 1.6em;

  span {
    margin: 0.5em 0;
  }

  em {
    font-weight: bold;
    color: blue;
  }

  div {
    margin: 0.5rem 0;
  }

  hr {
    margin: 0.5rem 0;
  }
}

.total-score {
  border: $border-style;
}

.total-score-title {
  border-bottom: $border-style;
}

.total-score-point {
  font-size: 1.5em;
  text-align: center;
  color: blue;
  font-weight: bold;
  line-height: 5rem;

  p {
    margin: 1em;
  }
}
