$border-style: 0.1em solid grey;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 0.5em;
  text-decoration: none;
}

hr {
  margin: 0 1em;
  border: 0.1em solid #0ABAB5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.login-container {
  width: 30%;
  height: 50%;
  margin: 10% auto;
  border: $border-style;
  padding: 0.5em;
  text-align: center;
}

.logo {
  width: 30%;
}

.login-user-list {
  width: 100%;
  height: 2em;
  margin: 0.5em 0;
}

.login-signIn-button {
  width: 100%;
  height: 2em;
}

.header {
  display: flex;
  margin-left: 4em;
  margin-right: 4em;
}

.nav-active {
  font-weight: bold;
}

.nav {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
  }
  li:first-child {
    padding-left: 0;
  }
}

.nav-link {
  text-decoration: none;
  color: gray;
}

.nav-link:hover {
  color:blue;
}

.user-info {
  display: flex;
  margin-left: auto;

  p {
    margin: auto;
  }

  img {
    width: 4em;
    height: 4em;
  }

  button {
    margin: 1.5em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: black;
    color: white;
  }
}

.logout-icon {
  vertical-align: middle;
  margin: 0.3em;
}

.dashboard {
  width: 50%;
  margin: 1em auto;
  border: $border-style;
}

.dashboard-header {
  display: flex;
  border-bottom: $border-style;
  font-weight: bold;

  div {
    flex: 1;
  }

  p {
    text-align: center;
    cursor: pointer
  }

  p:hover{
    color: blue
  }
}

.dashboard-header-right {
  border-left: $border-style;
}

.dashboard-header-selected {
  background-color: lightgrey;
}

.question-card {
  display: flex;
  flex-direction: column;
  margin: 1em;
  border: $border-style;
}

.question-card-for-asking {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 5em auto;
  border: $border-style;
}

.question-card-header {
  border-bottom: $border-style;
  background-color: powderblue;
  p {
    margin: 0.5em;
    font-weight: bold;
  }
}

.card-content{
  width: 100%;
  margin: 0.5em 0;
  border-left: $border-style;
  padding: 0 0.5em;

  p {
    margin: 0;
    font-size: 1.5em;
  }
}

.card-avatar {
  img {
    width: 6em;
    height: 6em;
  }
}

.question-card-body {
  display: flex;
}

.question-summary {
  p {
    font-size: 1em;
    margin: 0.5em 0em;
  }

  button {
    width: 100%;
    background: white;
    border: 0.1em solid #0ABAB5;
    color: #0ABAB5;
    padding: 0.2em;
    cursor: pointer;
  }
}

.question-options {
  display: flex;
  flex-direction: column;
  margin-top: 1em;

  label {
    margin-bottom: 0.5em;
  }

  button {
    width: 100%;
    background: white;
    border: 0.1em solid #0ABAB5;
    color: #0ABAB5;
    padding: 0.2em;
    cursor: pointer;
  }
}

.question-result {
  margin: 0.5em 0;
}

.question-option-result {
  border: $border-style;
  margin-top: 0.5em;
  padding: 0.5em;

  p {
    text-align: center;
  }
}

.vote-bar {
  display: inline-block;
  background-color: red;
  width: 100%;
  height: 1em;
  margin: 0.5em 0;
  border-bottom: 0.1em solid red;
  span {
    display: inline-block;
    background-color: blue;
    height: 1em;
    border-top: 0.1em solid blue;
  }
}